<script type="text/javascript">
function pic_upload_success(file, data) {
    var json = $.parseJSON(data)
    
    $(this).bjuiajax('ajaxDone', json)
    if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
        $('#j_custom_pic').val(json.filename).trigger('validate')
        $('#j_custom_span_pic').html('<img src="'+ json.filename +'" width="100" />')
    }
}
function do_OK(json, $form) {
    console.log(json)
    console.log($form)
}
//护照有效日期  = 签发日期 + 10年
$('#j_custom_issuedate').on('afterchange.bjui.datepicker', function(e, data) {
    var pattern = 'yyyy-MM-dd'
    var start   = end = data.value
    
    end.setFullYear(start.getFullYear() + 10)
    end.setDate(start.getDate() - 1)
    
    $('#j_custom_indate').val(end.formatDate(pattern))
})
</script>
<div class="bjui-pageContent">
    <form action="__SELF__" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <input type="hidden" name="id" value="{$Detail[id]}">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
                <tr>
                    <td>
                        <label for="s_name" class="control-label x150">学校名称：</label>
                        <input type="text" name="info[name]" id="s_name" value="{$Detail.name}" data-rule="required;remote[{:U('System/ajax_schoolCheckName')}, id]" size="15" class="required">
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label for="s_new_domain" class="control-label x150">独立域名：</label>
                        <input type="text" name="info[new_domain]" id="s_new_domain" value="{$Detail.new_domain}" size="15">
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label for="s_domain" class="control-label x150">域名：</label>
                        <input type="text" name="info[domain]" id="s_domain" value="{$Detail.domain}" data-rule="required;remote[{:U('System/ajax_schoolCheckDomain')}, id]" size="15" class="required">
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label for="s_web_title" class="control-label x150">前台title：</label>
                        <input type="text" name="info[web_title]" id="s_web_title" value="{$Detail.web_title}">
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label class="control-label x150">前台Logo图标：</label>
                        <input type="radio" name="info[fore_logo]" id="j_fore_logo1" data-toggle="icheck" value="0" data-rule="checked" data-label="使用默认图标&nbsp;&nbsp;" <eq name="Detail.fore_logo|default=0" value="0">checked</eq>>
                        <input type="radio" name="info[fore_logo]" id="j_fore_logo2" data-toggle="icheck" value="1" data-label="使用定制图标" <eq name="Detail.fore_logo" value="1">checked</eq>>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label for="s_fore_logo_title" class="control-label x150">前台Logo标题：</label>
                        <input type="text" name="info[fore_logo_title]" id="s_fore_logo_title" value="{$Detail.fore_logo_title}">
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label class="control-label x150">后台登录Logo图标：</label>
                        <input type="radio" name="info[admin_logo_login]" id="j_admin_logo_login1" data-toggle="icheck" value="0" data-rule="checked" data-label="使用默认图标&nbsp;&nbsp;" <eq name="Detail.admin_logo_login|default=0" value="0">checked</eq>>
                        <input type="radio" name="info[admin_logo_login]" id="j_admin_logo_login2" data-toggle="icheck" value="1" data-label="使用定制图标" <eq name="Detail.admin_logo_login" value="1">checked</eq>>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label for="s_name" class="control-label x150">后台界面Logo图标：</label>
                        <input type="radio" name="info[admin_logo]" id="j_admin_logo1" data-toggle="icheck" value="0" data-rule="checked" data-label="使用默认图标&nbsp;&nbsp;" <eq name="Detail.admin_logo|default=0" value="0">checked</eq>>
                        <input type="radio" name="info[admin_logo]" id="j_admin_logo2" data-toggle="icheck" value="1" data-label="使用定制图标" <eq name="Detail.admin_logo" value="1">checked</eq>>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label for="s_admin_logo_title" class="control-label x150">后台Logo标题：</label>
                        <input type="text" name="info[admin_logo_title]" id="s_admin_logo_title" value="{$Detail.admin_logo_title}">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">{:L('close')}</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">{:L('save')}</button></li>
    </ul>
</div>