<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="__SELF__" method="post">
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">
        <div class="bjui-searchBar">
            <label>{:L('username')}：</label><input type="text" id="username" value="{$username}" name="username" class="form-control" size="10">&nbsp;
            <label>{:L('role')}:</label>
            <select name="roleid" data-toggle="selectpicker">
                <option value="">{:L('select_all_role')}</option>
                <foreach name="roles" key="key" item="role">
                <option value="{$key}" <eq name="roleid" value="$key">selected</eq> >{$role['rolename']}</option> 
                </foreach>
            </select>&nbsp;
            <button type="submit" class="btn-default" data-icon="search">{:L('btn_search')}</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">{:L('btn_reload_search')}</a>
            <div class="pull-right">
                <button type="button" class="btn-green" data-url="{:U('System/adminAdd')}/" data-toggle="dialog" mask="true" data-width="520" data-height="188" data-icon="plus">添加管理员</button>&nbsp;
                <button type="button" class="btn-blue" data-url="{:U('System/adminDelete')}/userid/{#bjui-selected}" data-toggle="doajax" data-confirm-msg="{:L('msg_confirm_delete')}" data-icon="remove" title="可以在控制台(network)查看被删除ID">删除选中行</button>&nbsp;
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
                <th width="50">ID</th>
                <th width="120">推广分类</th>
                <th width="120">url</th>
                <th>名称</th>
                <th width="120" align="center">{:L('create_time')}</th>
                <th width="120" align="center">{:L('memo')}</th>
                <th width="150" align="center">{:L('manage')}</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="page_list" item="item" >
            <tr data-id="{$item.id}">
                <td>{$item.id}</td>
                <td>{$item.task_sort}</td>
                <td>{$item.url}</td>
                <td>{$item.name}</td>
                <td align="center">{$item.create_time|date="Y-m-d",###}</td>
                <td align="center">{$item.description}</td>
                <td align="center">
                    <a href="{:U('System/adminEdit')}/userid/{$item[userid]}/pc_hash/{$pc_hash}" data-toggle="dialog" mask="true" data-width="520" data-height="188"><span>{:L('edit')}</span></a> | 
                    <gt name="item.userid" value="1">
                        
                        <a title="密码将重置为1q2w3e4" href="{:U('System/adminResetPassword')}/userid/{$item[userid]}/pc_hash/{$pc_hash}" data-toggle="doajax" data-confirm-msg="确定要重置密码吗？"><span>重置密码</span></a> | <a href="{:U('System/adminDelete')}/userid/{$item[userid]}/pc_hash/{$pc_hash}" data-toggle="doajax" data-confirm-msg="确定要删除该管理员吗？"><span>{:L('delete')}</span></a>
                    <else />
                        <font color="#cccccc">重置密码</font> | <font color="#cccccc">{:L('delete')}</font>
                    </gt>
                </td>
            </tr>
            </foreach>
            
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>{:L('pagination_per_page')}&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30" <eq name="page.pageSize" value="30">selected</eq>>30</option>
                <option value="60" <eq name="page.pageSize" value="30">selected</eq>>60</option>
                <option value="120" <eq name="page.pageSize" value="30">selected</eq>>120</option>
                <option value="150" <eq name="page.pageSize" value="30">selected</eq>>150</option>
            </select>
        </div>
        <span>&nbsp;{:L('pagination_count_desc', array('totalCount' => $page['totalCount']))}</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$page.totalCount}" data-page-size="{$page.pageSize}" data-page-current="{$page.pageCurrent}"></div>
</div>