<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler"></div> <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    <foreach name="menu_list" item="item">
    <li class="start <eq name="item.c" value="$CONTROLLER_NAME">active open</eq>"><a href="javascript:;"><i class="icon-home"></i><span class="title">{$item.name}</span><span class="arrow <eq name="item.c" value="$CONTROLLER_NAME">open</eq>"></span></a>
        <ul class="sub-menu">
            <foreach name="item._child" item="child">
            <li class="<if condition="($child['c'] eq CONTROLLER_NAME) AND ($child['a'] eq ACTION_NAME)">active</if>"><a href="{:U($child['c'].'/'.$child['a'])}"><i class="icon-bar-chart"></i>{$child.name}</a></li>
            </foreach>
        </ul>
    </li>
    </foreach>
</ul>