<include file="Publics:header" />
<!-- BEGIN PAGE LEVEL STYLES -->

<link href="/Public/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<link href="/Public/assets/admin/pages/css/profile.css" rel="stylesheet" type="text/css" />
<link href="/Public/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->

<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="/Public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Public/assets/global/plugins/jquery-validation/js/localization/messages_zh.min.js"></script>
<script type="text/javascript" src="/Public/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
<script src="/Public/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="/Public/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script src="/Public/assets/scripts/profile.js"></script>
<script>
    var Think_ajax_handleInfo = "{:U('ajax_handleInfo')}", 
    Think_ajax_handleVerifyPassword = "{:U('ajax_handleVerifyPassword')}",
    Think_ajax_handleChangePassword = "{:U('ajax_handleChangePassword')}",
    Think_ajax_handleWeike  = "{:U('ajax_handleWeike')}";
	jQuery(document).ready(function() {
		ProfileValidation.init();
	});
</script>
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">个人中心</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li><i class="fa fa-home"></i> <a href="/">首页</a> <i class="fa fa-angle-right"></i></li>
        <li><span>个人中心</span></li>
    </ul>
    <!-- <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div> -->
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row margin-top-20">
    <div class="col-md-12">
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">个人信息</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1_1" data-toggle="tab">基本信息</a></li>
                                <li><a href="#tab_1_2" data-toggle="tab">威客账号</a></li>
                                <li><a href="#tab_1_3" data-toggle="tab">密码修改</a></li>
                                <!-- <li><a href="#tab_1_4" data-toggle="tab">设置</a></li> -->
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form role="form" action="#" id="form_info">
                                        <div class="form-group">
                                            <label class="control-label">账号</label> <input type="text" class="form-control" readonly value="{$Detail.loginname}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">班级</label> <input type="text" class="form-control" readonly value="{$Detail.classid|getClassName}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">姓名</label> <input type="text" placeholder="姓名" class="form-control" name="real_name" value="{$Detail.real_name}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">电子邮箱</label> <input type="text" class="form-control" name="email" value="{$Detail.email}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">联系电话</label> <input type="text"  class="form-control" name="phone" value="{$Detail.phone}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">备注</label> <input type="text" class="form-control" name="description" value="{$Detail.description}"/>
                                        </div>
                                        <div class="margiv-top-10">
                                            <button class="btn green-haze" id="btn_submit_info"> 保存 </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <!-- CHANGE AVATAR TAB -->
                                <div class="tab-pane" id="tab_1_2">
                                    <form role="form" action="#" id="form_weike">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">一品威客账号</label> 
                                            <input type="text" class="form-control" name="username" value="{$detail_weike.username}"/>
                                        </div>
                                        <div class="margiv-top-10">
                                            <button class="btn green-haze" id="btn_submit_weike"> 保存 </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END CHANGE AVATAR TAB -->
                                <!-- CHANGE PASSWORD TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    <form action="#" id="form_password">
                                        <div class="form-group">
                                            <label class="control-label">当前密码</label> <input type="password" class="form-control" name="password" id="password" onpaste="return false"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">新密码</label> <input type="password" class="form-control"  onpaste="return false" name="new_password" id="new_password"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">确认密码</label> <input type="password" class="form-control"  onpaste="return false" name="new_password_confirm" id="new_password_confirm"/>
                                        </div>
                                        <div class="margin-top-10">
                                            <button class="btn green-haze" id="btn_submit_password"> 保存 </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END CHANGE PASSWORD TAB -->
                                <!-- PRIVACY SETTINGS TAB -->
                                <div class="tab-pane" id="tab_1_4">
                                    <form action="#">
                                        <table class="table table-light table-hover">
                                            <tr>
                                                <td>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..</td>
                                                <td><label class="uniform-inline"> <input type="radio" name="optionsRadios1" value="option1" /> Yes
                                                </label> <label class="uniform-inline"> <input type="radio" name="optionsRadios1" value="option2" checked /> No
                                                </label></td>
                                            </tr>
                                            <tr>
                                                <td>Enim eiusmod high life accusamus terry richardson ad squid wolf moon</td>
                                                <td><label class="uniform-inline"> <input type="checkbox" value="" /> Yes
                                                </label></td>
                                            </tr>
                                            <tr>
                                                <td>Enim eiusmod high life accusamus terry richardson ad squid wolf moon</td>
                                                <td><label class="uniform-inline"> <input type="checkbox" value="" /> Yes
                                                </label></td>
                                            </tr>
                                            <tr>
                                                <td>Enim eiusmod high life accusamus terry richardson ad squid wolf moon</td>
                                                <td><label class="uniform-inline"> <input type="checkbox" value="" /> Yes
                                                </label></td>
                                            </tr>
                                        </table>
                                        <!--end profile-settings-->
                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn green-haze"> Save Changes </a> <a href="javascript:;" class="btn default"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END PRIVACY SETTINGS TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->


<include file="Publics:footer" />