<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户登录 - {$Think.cookie.web_title}</title>
<link href="__PUBLIC__/css/style_admin_login.css?v=11" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="login_content">
        <div class="login_title">
            <i class="logo_login" style="background: url({$Think.cookie.admin_logo_login}) no-repeat;"></i>{$Think.cookie.web_title}
        </div>
        <div class="login_wrap">
            <div class="login">
            <form id="form1" name="form1" method="post" action="__SELF__">
                <ul class="login_ul">
                    <li><span class="left fl">用户：</span> <span class="left"><input name="username" type="text" class="inpt_txt" /></span></li>
                    <li><span class="left fl">密码：</span> <span class="left"><input name="password" type="password" class="inpt_txt" /></span></li>
                    <!-- <li><span class="left fl"> &nbsp;</span> <span class="left fr"><input type="checkbox" checked="checked" class="check" />记住密码</span></li> -->
                    <li>
                        <span class="left fl"> &nbsp;</span> 
                        <span class="left fr"> 
                            <!-- <input type="button" value="登录" class="btn" onclick="do_submit();" /> -->
                            <input type="submit" value="" class="btn"/>
                        </span>
                    </li>
                </ul>
            </form>
            </div>
        </div>
    </div>

</body>
</html>
